<div class="container login-container">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label for="username">Usuário:</label>
        <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" [(ngModel)]="username" name="username" required>
        <div class="text-danger" *ngIf="loginForm.controls['username']?.invalid && (loginForm.controls['username']?.dirty || loginForm.controls['username']?.touched)">
          O campo usuário é obrigatório
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" [(ngModel)]="password" name="password" required>
        <div class="text-danger" *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
          O campo senha é obrigatório
        </div>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{errorMessage}}
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="loginForm.invalid">Entrar</button>
      <div class="login-links">
        <a class="text-primary" routerLink="/register">Cadastre-se</a>
        <a class="text-primary" routerLink="/forgot-password">Esqueceu sua senha?</a> 
      </div>
      <div class="social-login mt-4">
        <p>Ou faça login com suas contas</p>
        <a href="#" class="google-icon">
          <i class="fab fa-google"></i>Google
        </a>
        <a href="#" class="facebook-icon">
          <i class="fab fa-facebook"></i>Facebook
        </a>
      </div>
    </form>
  </div>
</div>



  

   
