<main>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Termos de Uso da Health Mais Saúde
        </h2>

        <!-- Seção 1 -->
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1. Aceitação dos Termos</h5>
                <p class="card-text">Ao utilizar a Health Mais Saúde
                    , você concorda em estar vinculado a estes Termos de Uso, que podem ser atualizados periodicamente sem aviso prévio.</p>
            </div>
        </div>

        <!-- Seção 2 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">2. Descrição do Serviço</h5>
                <p class="card-text">A Health Mais Saúde é uma plataforma integrada de saúde e e-commerce, que oferece informações de saúde, uma loja online de produtos de saúde e bem-estar, e um sistema de monitoramento de saúde pessoal.</p>
            </div>
        </div>

        <!-- Seção 3 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">3. Privacidade e Segurança de Dados</h5>
                <p class="card-text">
                    A proteção de suas informações pessoais é nossa prioridade. Informamos que os dados coletados pela Health Mais Saúde podem ser utilizados para fins de pesquisa e desenvolvimento de novos recursos, sempre de forma anônima e respeitando todos os direitos cabíveis. Esta análise de dados visa aprimorar continuamente a experiência do usuário e contribuir para o avanço da saúde digital. 
                </p>
                <p class="card-text">
                    Ressaltamos também que a Health Mais Saúde encontra-se em fase beta. Isso significa que você pode experienciar instabilidades ou interrupções no serviço, e há uma possibilidade, embora pequena, de perda de dados. Estamos trabalhando continuamente para melhorar a estabilidade e a confiabilidade da nossa plataforma e agradecemos seu apoio e compreensão durante este período de desenvolvimento.
                </p>
            </div>
        </div>
        

        <!-- Seção 4 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">4. Uso da Plataforma</h5>
                <p class="card-text">Você concorda em usar a plataforma apenas para fins legítimos e de acordo com as leis aplicáveis. É proibido usar a plataforma para atividades ilícitas ou fraudulentas.</p>
            </div>
        </div>

        <!-- Seção 5 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">5. Propriedade Intelectual</h5>
                <p class="card-text">Todo conteúdo na plataforma, incluindo textos, gráficos e código, é de propriedade da Health Mais Saúde e está protegido por leis de direitos autorais e marcas comerciais.</p>
            </div>
        </div>

        <!-- Seção 6 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">6. Limitações de Responsabilidade</h5>
                <p class="card-text">A Health Mais Saúde não se responsabiliza por danos indiretos, incidentais ou consequentes decorrentes do uso da plataforma.</p>
            </div>
        </div>

        <!-- Seção 7 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">7. Modificações nos Serviços e Termos</h5>
                <p class="card-text">Reservamos o direito de modificar ou descontinuar qualquer parte do serviço a qualquer momento. Os Termos de Uso também podem ser alterados, e seu uso contínuo da plataforma constitui aceitação dessas mudanças.</p>
            </div>
        </div>

        <!-- Seção 8 -->
        <div class="card mt-3">
            <div class="card-body">
                <h5 class="card-title">8. Contato</h5>
                <p class="card-text">Para dúvidas ou preocupações sobre estes Termos de Uso, entre em contato conosco através do email fernando.suporte.maissaude@gmail.com.</p>
            </div>
        </div>
    </div>
</main>