<main>
<div class="health-data-summary container">
    <h2 class="text-center">Dados de Saúde</h2>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="vital-signs">
                        <app-vital-signs></app-vital-signs>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="symptom-monitoring">
                        <app-symptom-monitoring></app-symptom-monitoring>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="medication-log">
                        <app-medication-log></app-medication-log>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="food-diary">
                        <app-food-diary></app-food-diary>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="exercise-log">
                        <app-exercise-log></app-exercise-log>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <section class="sleep-tracker">
                        <app-sleep-tracker></app-sleep-tracker>
                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height">
                <div class="card-body">
                    <h3 class="card-title">Relatórios para Impressão</h3>
                    <section class="printable-reports">
                        <app-printable-reports></app-printable-reports>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
