.fixed-height {
    height: 600px;
    overflow: auto;
    border:none
}


.small-font {
    font-size: 12px;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo escura semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Certifique-se de que o z-index esteja acima dos outros elementos */
  }
  
  .spinner-container {
    position: relative;
    z-index: 1001; /* Z-index para o spinner */
  }
  
  .bg-personal {
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }
  .btn-personal {
    border: none;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  #vitalSignsChart {
    max-width: 500px;
    max-height: 500px;
    width: 100%; /* Isso garante que o gráfico seja responsivo */
    height: auto; /* Altura automática para manter a proporção */
  }
  .chart-container {
    display: flex;
    justify-content: center; /* Centraliza o gráfico */
    max-width: 500px;
    margin: auto; /* Centraliza o contêiner */
  }
    
  