<section class="bg-info py-3 mt-0 mb-5 text-white"> <!-- Aumentei o valor de mt e mb -->
    <div class="container text-center">
        <h2 class="fw-bold mt-2 mb-3">Monitor de Saúde!</h2>
        <p class="mb-2">Bem-vindo ao Monitoramento de Saúde. Aqui, você encontra ferramentas intuitivas para acompanhar sua Saúde e seu bem-estar. De sinais vitais a sintomas e estilo de vida, estamos aqui para apoiá-lo em cada passo. Sua saúde está em boas mãos!</p>
    </div>
</section>

<div class="health-data-summary container mt-5 mb-5">
    <h2 class="text-center">Dados de Saúde</h2>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="vital-signs">
                        <app-vital-signs></app-vital-signs>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>
    

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="symptom-monitoring">
                        <app-symptom-monitoring></app-symptom-monitoring>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="medication-log">
                        <app-medication-log></app-medication-log>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="food-diary">
                        <app-food-diary></app-food-diary>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="exercise-log">
                        <app-exercise-log></app-exercise-log>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="sleep-tracker">
                        <app-sleep-tracker></app-sleep-tracker>
                    </section>
                    <button type="button" class="btn btn-primary btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body small-font">
                    <h3 class="card-title">Relatórios para Impressão</h3>
                    <section class="printable-reports">
                        <app-printable-reports></app-printable-reports>

                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

