<main>
<section class="bg-personal py-3 mt-0 mb-5 text-white"> <!-- Aumentei o valor de mt e mb -->
    <div class="container text-center">
        <h2 class="fw-bold mt-2 mb-3">Monitor de Saúde!</h2>
        <p class="mb-2">Bem-vindo ao Monitoramento de Saúde. Aqui, você encontra ferramentas intuitivas para acompanhar sua Saúde e seu bem-estar. De sinais vitais a sintomas e estilo de vida, estamos aqui para apoiá-lo em cada passo. Sua saúde está em boas mãos!</p>
    </div>
</section>

<div class="container mt-5">
  <!-- Primeira Linha -->
  <div class="row justify-content-center">
      <div *ngFor="let card of cards.slice(0, 4);" class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <a [routerLink]="getRouterLink(card)" class="text-decoration-none">
              <div class="card h-100 border-0 shadow bg-transparent" title="{{ card.tool }}" data-bs-toggle="tooltip" data-bs-placement="top">
                  <div class="card-body d-flex flex-column">
                      <div class="d-flex align-items-center mb-2">
                          <i class="{{ getCardIconClass(card) }} me-2"></i>
                          <h5 class="card-title mb-0">{{ card.text }}</h5>
                      </div>
                      <p class="card-text">{{ card.desc }}</p>
                  </div>
              </div>
          </a>
      </div>
  </div>

  <!-- Segunda Linha -->
  <div class="row justify-content-center mt-2">
      <div *ngFor="let card of cards.slice(4, 8);" class="col-lg-3 col-md-6 col-sm-12 mb-4">
          <a [routerLink]="getRouterLink(card)" class="text-decoration-none">
              <div class="card h-100 border-0 shadow bg-transparent" title="{{ card.tool }}" data-bs-toggle="tooltip" data-bs-placement="top">
                  <div class="card-body d-flex flex-column">
                      <div class="d-flex align-items-center mb-2">
                          <i class="{{ getCardIconClass(card) }} me-2"></i>
                          <h5 class="card-title mb-0">{{ card.text }}</h5>
                      </div>
                      <p class="card-text">{{ card.desc }}</p>
                  </div>
              </div>
          </a>
      </div>
  </div>
</div>



      
    
 
  

<div *ngIf="loading" class="spinner-overlay">
    <div class="spinner-container">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <div class="container py-5 my-5">
    <div class="row g-4"> <!-- 'g-4' adiciona um gap entre os cards -->
  
      <!-- Primeira Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-vital-signs-chart></app-vital-signs-chart>
            <button routerLink="/vital-signs" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>
  
      <!-- Segunda Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-symptom-monitoring-chart></app-symptom-monitoring-chart>
            <button routerLink="/symptomMonitoring" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>
  
      <!-- Terceira Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-medication-log-chart></app-medication-log-chart>
            <button routerLink="/medication-log" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>
  
      <!-- Quarta Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-food-diary-chart></app-food-diary-chart>
            <button routerLink="/food-diary" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>
  
      <!-- Quinta Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-exercise-log-chart></app-exercise-log-chart>
            <button routerLink="/exercise-log" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>
  
      <!-- Sexta Coluna -->
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <app-sleep-tracker-chart></app-sleep-tracker-chart>
            <button routerLink="/sleep-tracker" type="button" class="btn btn-personal text-white mt-3">Registrar/Histórico</button>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="card card-equal-height bg-light text-center shadow-sm rounded border-0">
          <div class="card-body d-flex flex-column justify-content-between">
            <!-- <app-printable-reports></app-printable-reports> -->
            <button routerLink="/printable-reports" type="button" class="btn btn-personal text-white mt-3">Relatorio para Impressao</button>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="health-data-summary container py-5 mb-5">
    <h2 class="text-center">Dados de Saúde</h2>

    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="vital-signs">
                        <app-vital-signs [isSummaryView]="true"></app-vital-signs>
                    </section>
                    <button routerLink="/vital-signs" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>
    

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="symptom-monitoring">
                        <app-symptom-monitoring [isSummaryView]="true"></app-symptom-monitoring>
                    </section>
                    <button routerLink="/symptomMonitoring" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="medication-log">
                        <app-medication-log [isSummaryView]="true"></app-medication-log>
                    </section>
                    <button  routerLink="/medication-log" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="food-diary">
                        <app-food-diary [isSummaryView]="true"></app-food-diary>
                    </section>
                    <button routerLink="/food-diary" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="exercise-log">
                        <app-exercise-log [isSummaryView]="true"></app-exercise-log>
                    </section>
                    <button routerLink="/exercise-log" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body d-flex flex-column justify-content-between small-font">
                    <section class="sleep-tracker">
                        <app-sleep-tracker [isSummaryView]="true"></app-sleep-tracker>
                    </section>
                    <button routerLink="/sleep-tracker" type="button" class="btn btn-personal text-white btn-sm">Detalhe</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body small-font">
                    <h3 class="card-title">Relatórios para Impressão</h3>
                    <section class="printable-reports">
                        <app-printable-reports></app-printable-reports>

                    </section>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card mb-4 fixed-height border-0 shadow">
                <div class="card-body small-font">
                    <section class="printable-reports">
                        <app-vaccination-schedule></app-vaccination-schedule>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div> -->

</main>