<!-- Monitoramento de sintomas -->
<h2>Sintomas</h2>
<form id="symptoms-form" class="mb-3" (ngSubmit)="register()">
  <div class="form-group">
    <input type="text" id="symptom" placeholder="Sintoma" class="form-control" [(ngModel)]="symptom" name="symptom">
  </div>
  <div class="form-group">
    <input type="number" id="intensity" placeholder="Intensidade" class="form-control" [(ngModel)]="intensity" name="intensity">
  </div>
  <div class="form-group">
    <input type="number" id="frequency" placeholder="Frequência" class="form-control" [(ngModel)]="frequency" name="frequency">
  </div>
  <div class="form-group">
    <input type="text" id="duration" placeholder="Duração" class="form-control" [(ngModel)]="duration" name="duration">
  </div>
  <div class="form-group">
    <textarea id="notes" placeholder="Notas adicionais" class="form-control" [(ngModel)]="notes" name="notes"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<div class="table-responsive">
  <table id="symptoms-table" class="table">
    <thead>
      <tr>
        <th class="break-word">Sintoma</th>
        <th class="break-word">Intensidade</th>
        <th class="break-word">Frequência</th>
        <th class="break-word">Duração</th>
        <th class="break-word">Notas adicionais</th>
        <th class="break-word">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let symptom of symptoms">
        <td>{{ symptom.symptom }}</td>
        <td>{{ symptom.intensity !== null ? symptom.intensity : '' }}</td>
        <td>{{ symptom.frequency !== null ? symptom.frequency : '' }}</td>
        <td>{{ symptom.duration }}</td>
        <td>{{ symptom.notes }}</td>
        <td>{{ symptom.timestamp | date:'dd/MM/yy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
</div>
