.component-padding {
    padding-top: 70px;
    width: 60%;
    margin: 0 auto; // This will center the container horizontally
    display: flex;
    flex-direction: column;
    justify-content: center; // This will center the content vertically
    align-items: center; // This will center the content horizontally
}
/* Este é um exemplo genérico e pode não funcionar em todos os navegadores */
select.form-control {
    color: rgb(116, 110, 110); /* ou outra cor que combine com o seu tema */
  }
  