<main [ngClass]="{'component-padding': !isSummaryView}">
  <div class="container">
<h2>Sintomas</h2>
<form id="symptoms-form" class="mb-3" (ngSubmit)="register()">
  <div class="form-group mb-2">
    <input type="text" id="symptom" placeholder="Sintoma" class="form-control" [(ngModel)]="symptom" name="symptom">
  </div>

  <div class="form-group mb-2">
    <select class="form-control" [(ngModel)]="intensity" name="intensity">
      <option [ngValue]="null" disabled selected>Intensidade</option>
      <option [ngValue]="0">Muito Leve</option>
      <option [ngValue]="1">Leve</option>
      <option [ngValue]="2">Moderada</option>
      <option [ngValue]="3">Forte</option>
      <option [ngValue]="4">Muito Forte</option>

    </select>
  </div>

  <div class="form-group mb-2">
    <input type="number" id="frequency" placeholder="Frequência" class="form-control" [(ngModel)]="frequency" name="frequency">
  </div>
  <div class="form-group mb-2">
    <input type="text" id="duration" placeholder="Duração" class="form-control" [(ngModel)]="duration" name="duration">
  </div>
  <div class="form-group mb-2">
    <textarea id="notes" placeholder="Notas adicionais" class="form-control" [(ngModel)]="notes" name="notes"></textarea>
  </div>
  <button type="submit" class="btn btn-info text-white mb-2">Registrar</button>
</form>

<div class="table-responsive shadow rounded">
  <table id="symptoms-table" class="table table-hover">
    <thead>
      <tr>
        <th class="break-word small-header">Sintoma</th>
        <th class="break-word small-header">Intensidade</th>
        <th class="break-word small-header">Frequência</th>
        <th class="break-word small-header">Duração</th>
        <th class="break-word small-header">Notas adicionais</th>
        <th class="break-word small-header">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let symptom of symptoms">
        <td>{{ symptom.symptom }}</td>
        <td>{{ symptom.intensity !== null ? intensityToText(symptom.intensity) : '' }}</td>
        <td>{{ symptom.frequency !== null ? symptom.frequency : '' }}</td>
        <td>{{ symptom.duration }}</td>
        <td>{{ symptom.notes }}</td>
        <td>{{ symptom.timestamp | date:'dd/MM/yy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
</main>