.offcanvas-custom-width {
    max-width: 300px;
    border-radius: 0 10px 0 0 ; /* Ajuste este valor conforme sua necessidade */
  }


  .btn-mode-toggle {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    transition: background-color 0.3s ease;
}

.btn-mode-toggle:hover,
.btn-mode-toggle:active {
    background-color: rgba(255, 255, 255, 1);
}