<header class="pb-0 mb-0">
  <nav class="navbar fixed-top bg-personal" [class.navbar-dark]="themeService.isDarkTheme()" [class.navbar-light]="!themeService.isDarkTheme()">
    <div class="container-fluid d-flex align-items-center">
      <button class="navbar-toggler me-4 mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
        <button class="btn btn-outline-light" type="submit" disabled>Pesquisa</button>
      </form>
      <img src="../../../assets//logo4.png" alt="Ícone" style="height: 75px;">
      <div class="d-flex flex-column align-items-center ms-2">
        <a class="navbar-brand me-2 text-light" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">Health Mais Saúde</a>
        <!-- Aqui estão os botões -->
        <div class="d-flex">
          <button type="button" class="btn btn-sm mx-1 text-light" routerLink="/home"><i class="fas fa-newspaper"></i> Noticias</button>
          <button type="button" class="btn btn-sm mx-1 text-light" routerLink="/lista-produtos"><i class="fas fa-store"></i> Loja</button>
          <button type="button" class="btn btn-sm mx-1 text-light position-relative" routerLink="/carrinho">
            <i class="fas fa-shopping-cart"></i> Carrinho
            <!-- Adicione este span para mostrar um badge se houver itens no carrinho -->
            <span *ngIf="totalItemsInCart > 0" class="position-absolute top-0 start-100 translate-middle badge bg-warning">
              {{ totalItemsInCart }}
            </span>
          </button>
          <button type="button" class="btn btn-sm mx-1 text-light" routerLink="/monitor-saude"><i class="fas fa-heartbeat"></i> Dados de Saude</button>
        </div>
      <!-- <button class="btn btn-mode-toggle ms-3" (click)="themeService.toggleTheme()">
        <i class="fas fa-moon text-dark" *ngIf="!themeService.isDarkTheme()"></i>
        <i class="fas fa-sun text-warning" *ngIf="themeService.isDarkTheme()"></i>
      </button> -->
    </div>
  </div>
  </nav>
</header>

<div class="offcanvas offcanvas-start offcanvas-custom-width bg-personal" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column">
    <!-- Links de navegação -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-grow-1">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/home"><i class="fas fa-home"></i> Home/News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/lista-produtos"><i class="fas fa-store"></i> Loja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light position-relative" routerLink="/carrinho">
          <i class="fas fa-shopping-cart"></i> Carrinho
          <span *ngIf="totalItemsInCart >0" class="position-absolute top-50 translate-middle-y badge bg-warning" style="left: calc(100% - 25px);">
              {{ totalItemsInCart }}
          </span>
      </a>      
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/monitor-saude"><i class="fas fa-heartbeat"></i> Dados de Saúde</a>
      </li>
      <!-- <li class="nav-item" *ngIf="authService.isAuthenticated()">
        <a class="nav-link text-light" routerLink="/profile"><i class="fas fa-user-circle"></i> Conta</a>
      </li> -->
    </ul>


     <!-- Formulário de login -->
     <form (ngSubmit)="login()" #loginForm="ngForm" *ngIf="!authService.isAuthenticated()">
      <div class="form-group text-light">
        <label for="username">Usuário:</label>
        <input type="text" class="form-control" id="username" placeholder="Digite seu usuário" [(ngModel)]="username" style="margin-bottom: 20px;" name="username" required>
        <div class="text-danger" *ngIf="loginForm.controls['username']?.invalid && (loginForm.controls['username']?.dirty || loginForm.controls['username']?.touched)">
          O campo usuário é obrigatório
        </div>
      </div>
      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" class="form-control" id="password" placeholder="Digite sua senha" [(ngModel)]="password" style="margin-bottom: 20px;" name="password" required>
        <div class="text-danger" *ngIf="loginForm.controls['password']?.invalid && (loginForm.controls['password']?.dirty || loginForm.controls['password']?.touched)">
          O campo senha é obrigatório
        </div>
      </div>
      <div *ngIf="errorMessage" class="text-danger">
        {{ errorMessage }}
      </div>
      <button type="submit" class="btn btn-primary" style="margin-bottom: 20px;" [disabled]="loginForm.invalid">Entrar</button>
      <div class="text-primary">
        <a class="text-primary" routerLink="/register">Cadastre-se</a>
      </div>
      <div class="text-primary">
        <a class="text-primary" routerLink="/forgot-password" >Esqueceu sua senha?</a>
      </div>
    </form>

    <div class="auth-section">
      <div *ngIf="authService.isAuthenticated()">
        <button class="btn btn-dark " (click)="logout()">Logout</button>
        <img src="../../../assets/logo4.png" alt="Ícone" class="float-end my-2" style="height: 75px;">
        <div *ngIf="currentUser">
          <p>Bem-vindo, {{ currentUser.name }}!</p>
        </div>
    </div>
  </div>
</div>





