<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-4 col-md-6 mx-auto" *ngFor="let category of categories">
      <div style="background-color: #cccccc8a; margin: 20px; padding: 20px; border-radius: 5px;">
        <img class="card-img-top" [src]="category.image" alt="Category Image">
        <h1 class="fw-light" style="font-size: 1.5em;">{{ category.name }}</h1>
        <p class="lead text-body-secondary" style="font-size: 1em;">{{ category.description }}</p>
        <p>
          <a [routerLink]="'/product-category/' + category.id" class="btn btn-primary my-2">Ver Produtos</a>
        </p>
      </div>
    </div>
  </div>
</section>















  
  
