  <section class="bg-info py-3 mt-0 mb-5 text-white">
    <div class="container text-center">
      <h2 class="fw-bold mt-2 mb-3">Bem-vindo à Loja Virtual Portal Mais Saúde!</h2>
      <p class="mb-2">Aqui, promovemos saúde e bem-estar com uma variedade de produtos naturais, suplementos e equipamentos de ginástica e aparelhos médicos.
      Somos o seu parceiro em sua jornada de bem-estar, fornecendo soluções eficazes para um estilo de vida mais saudável e feliz.
      Comece sua jornada para uma vida mais saudável agora!</p>
    </div>
  </section>

  <div *ngIf="loading" class="spinner-overlay">
    <div class="spinner-container">
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>

  <section class="container py-5 mt-4">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 mb-4" *ngFor="let product of products">
        <div class="card product-card h-100 shadow border-0">
          <div class="product-image-wrapper">
            <img [src]="product.url" class="card-img-top product-image my-2" alt="Product Image">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ product.nomeProduto }}</h5>
            <p class="card-text">{{ product.descricao.slice(0, 100) + (product.descricao.length > 100 ? '...' : '') }}</p>
            <h6>Preço: <span class="text-success">{{ product.preco }}</span></h6>
            <p class="card-text"><span class="badge bg-primary">{{ product.categoria }}</span></p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <a [routerLink]="['/product-details', product.id]" class="btn btn-primary btn-sm my-2 small-text mr-2">Detalhes</a>
            <a (click)="addToCart(product)" class="btn btn-secondary btn-sm my-2 small-text mr-2"> Add carrinho</a>
            <a (click)="buyNow(product)" class="btn btn-success btn-sm my-2 small-text"> Comprar</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  



