<main [ngClass]="{'component-padding': !isSummaryView}">
  <div class="container">
    <h2>Rastreamento do Sono</h2>
    <form id="sleep-form" class="mb-3" (ngSubmit)="register()">
      <div class="form-group mb-2">
        <input type="number" id="hoursSlept" placeholder="Horas Dormidas" class="form-control" [(ngModel)]="hoursSlept" name="hoursSlept" required>
      </div>

      <div class="form-group mb-2">
        <select class="form-control" [(ngModel)]="sleepQuality" name="sleepQuality" required>
          <option [ngValue]="null" disabled>Qualidade do Sono</option>
          <option [ngValue]="0">Péssima</option>
          <option [ngValue]="1">Ruim</option>
          <option [ngValue]="2">Razoável</option>
          <option [ngValue]="3">Boa</option>
          <option [ngValue]="4">Excelente</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <textarea id="sleepEvents" placeholder="Eventos Notáveis" class="form-control" [(ngModel)]="sleepEvents" name="sleepEvents"></textarea>
      </div>
      <button type="submit" class="btn btn-personal text-white mb-2">Registrar</button>
    </form>

    <div class="table-responsive shadow rounded">
      <table id="sleep-table" class="table table-hover">
        <thead>
          <tr>
            <th class="break-word small-header">Horas Dormidas</th>
            <th class="break-word small-header">Qualidade do Sono</th>
            <th class="break-word small-header">Eventos Notáveis</th>
            <th class="break-word small-header">Data</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of sleepTrackerEntries">
            <td>{{ entry.hoursSlept }}</td>
            <td>{{ entry.sleepQuality !== null ? sleepQualityToText(entry.sleepQuality) : 'Indefinido' }}</td>
            <td>{{ entry.sleepEvents }}</td>
            <td>{{ entry.timestamp | date:'dd/MM/yy HH:mm' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

