<main [ngClass]="{'component-padding': !isSummaryView}">
  <div class="container">
<h2>Acompanhamento do Sono</h2>
<form (submit)="registerSleepTrackerEntry()" id="sleep-tracker-form" class="mb-3">
  <div class="form-group mb-2">
    <input [(ngModel)]="hoursSlept" name="hoursSlept" type="number" id="hoursSlept" placeholder="Horas dormidas" class="form-control">
  </div>
  <div class="form-group mb-2">
    <input [(ngModel)]="sleepQuality" name="sleepQuality" type="text" id="sleepQuality" placeholder="Qualidade do sono" class="form-control">
  </div>
  <div class="form-group mb-2">
    <textarea [(ngModel)]="sleepEvents" name="sleepEvents" id="sleepEvents" placeholder="Eventos relacionados ao sono" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mb-2">Registrar</button>
</form>
<div class="table-responsive shadow rounded">
  <table id="sleep-tracker-table" class="table table-hover">
    <thead>
      <tr>
        <th class="break-word small-header">Horas dormidas</th>
        <th class="break-word small-header">Qualidade do sono</th>
        <th class="break-word small-header">Eventos relacionados ao sono</th>
        <th class="break-word small-header">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of sleepTrackerEntries">
        <td>{{ entry.hoursSlept }}</td>
        <td>{{ entry.sleepQuality }}</td>
        <td>{{ entry.sleepEvents }}</td>
        <td>{{ entry.timestamp | date:'dd/MM/yy HH:mm' }}</td>
      </tr>
    </tbody>
  </table>
</div>
