<app-navbar></app-navbar>

<!-- Conteúdo do componente -->

<div>
  <h1>Bem-vindo ao App Portal Mais Saúde</h1>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">Sobre</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Registrar</a></li>
      <li><a routerLink="/news">Notícias</a></li>
      <li><a routerLink="/ecommerce">Ecommerce</a></li>
      <li><a routerLink="/user-health-data">Dados de Saúde do Usuário</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
