
main {
    width: 80%;
    margin-left: 10%;
}

.card-img-top {
    width: 200px;
    height: 200px;   /* ajuste este valor como necessário */
    object-fit: cover;  /* manter a proporção da imagem */
}
.small-text {
    font-size: 0.7rem; /* Ajuste esse valor de acordo com o tamanho desejado para o texto dentro dos botões */
  }