<main>
    <div class="container profile-container bg-light">
      <h2 class="mb-4">Minha Conta</h2>
  
      <form>
        <div class="form-group mb-4">
          <label for="username">Nome de Usuário:</label>
          <input type="text" id="username" class="form-control" placeholder="Nome de usuário" [(ngModel)]="user.username">
        </div>
  
        <div class="form-group mb-4">
          <label for="email">Endereço de Email:</label>
          <input type="email" id="email" class="form-control" placeholder="Endereço de email" [(ngModel)]="user.email">
        </div>

        <div class="form-group mb-4">
            <label for="profilePicture"> Foto de perfil:</label>
            <br>
            <input type="file" id="profilePicture" class="form-control-file" [(ngModel)]="user.profilePicture">
          </div>

          <div class="form-group mb-4">
            <label for="currentPassword">Senha Atual:</label>
            <input type="password" id="currentPassword" class="form-control" placeholder="Senha atual">
          </div>

          <div class="form-group mb-4">
            <label for="newPassword">Nova Senha:</label>
            <input type="password" id="newPassword" class="form-control" placeholder="Nova senha">
          </div>
    
          <div class="form-group mb-4">
            <label for="confirmPassword">Confirme a Nova Senha:</label>
            <input type="password" id="confirmPassword" class="form-control" placeholder="Confirme a nova senha">
          </div>
  
        <button type="submit" class="btn btn-primary">Atualizar Informações</button>
      </form>
    </div>
  </main>