<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-8 col-md-10 mx-auto" *ngIf="product" style="background-color: #cccccc; margin: 20px; padding: 10px; border-radius: 5px;">
      <div class="row">
        <div class="col-md-6">
          <img [src]="product.url" alt="Product Image">
        </div>
        <div class="col-md-6">
          <h2>{{ product.nomeProduto }}</h2>
          <p class="lead text-body-secondary">{{ product.descricao }}</p>
          <p>Price: {{ product.preco }}</p>
          <p>Category: {{ product.categoria }}</p>
          <a href="#" class="btn btn-secondary my-2">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
</section>



  
