<main>
<div class="container py-5">
    <div class="row">
        <div class="col-lg-8">
            <h2>Checkout</h2>
            <br>
            <form>
                <h4 class="mb-3">Informações do cliente</h4>

                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Primeiro nome</label>
                        <input type="text" class="form-control" id="firstName" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="lastName" class="form-label">Sobrenome</label>
                        <input type="text" class="form-control" id="lastName" required>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" required>
                    </div>

                    <h4 class="mb-3">Informações de Envio </h4>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="street" class="form-label">Rua</label>
                            <input type="text" class="form-control" id="street" placeholder="Rua" required>
                        </div>
                    
                        <div class="col-sm-6">
                            <label for="complement" class="form-label">Complemento</label>
                            <input type="text" class="form-control" id="complement" placeholder="Complemento">
                        </div>
                    
                        <div class="col-sm-6">
                            <label for="neighborhood" class="form-label">Bairro</label>
                            <input type="text" class="form-control" id="neighborhood" placeholder="Bairro" required>
                        </div>
                    
                        <div class="col-sm-6">
                            <label for="city" class="form-label">Cidade</label>
                            <input type="text" class="form-control" id="city" placeholder="Cidade" required>
                        </div>
                    
                        <div class="col-sm-6">
                            <label for="zip" class="form-label">CEP</label>
                            <input type="text" class="form-control" id="zip" placeholder="CEP" required>
                        </div>
                    </div>
                </div>

                <h4 class="mb-3 mt-3">Informações de pagamento</h4>

                <div class="row g-3">
                     
                    <div class="col-sm-6">
                        <label for="paymentMethod" class="form-label">Método de pagamento</label>
                        <select class="form-select" id="paymentMethod" required>
                            <option value="">Escolha...</option>
                            <option value="Credit Card">Cartão de crédito</option>
                            <option value="Debit Card">Cartão de débito</option>
                            <option value="Pix">PIX</option>
                            <option value="Boleto">Boleto Bancário</option>
                        </select>
                    </div>
                    


                    <div class="col-sm-6">
                        <label for="cc-name" class="form-label">Nome no cartão</label>
                        <input type="text" class="form-control" id="cc-name" required>
                    </div>

                    <div class="col-sm-6">
                        <label for="cc-number" class="form-label">Número do cartão de crédito</label>
                        <input type="text" class="form-control" id="cc-number" required>
                    </div>

                    <div class="col-sm-3">
                        <label for="cc-expiration" class="form-label">Data de expiração</label>
                        <input type="text" class="form-control" id="cc-expiration" required>
                    </div>

                    <div class="col-sm-3">
                        <label for="cc-cvv" class="form-label">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" required>
                    </div>
                </div>
            </form>
        </div>
        

        <div class="col-lg-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Seu carrinho</span>
                <span class="badge bg-secondary rounded-pill">{{ totalItems }}</span>
            </h4>
    
            <ul class="list-group mb-3">
                <li *ngFor="let item of items" class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                        <h6 class="my-0">{{ item.product.nomeProduto }}</h6>
                        <small class="text-muted">{{ item.product.descricao | slice:0:75 }}</small>
                    </div>
                    <span class="text-muted">{{ item.product.preco | currency }}</span>
                </li>
            
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (BRL)</span>
                    <strong>{{ totalPrice | currency }}</strong>
                </li>
            </ul>
            <div class="mt-4">
                <button class="btn btn-primary" (click)="checkout()">Finalizar Compra</button>
            </div>
        </div>
    </div>
</div>
</main>