.component-padding {
    padding-top: 70px;
    width: 60%;
    margin: 0 auto; // This will center the container horizontally
    display: flex;
    flex-direction: column;
    justify-content: center; // This will center the content vertically
    align-items: center; // This will center the content horizontally
}
.btn-personal {
    border: none;
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  

