<main [ngClass]="{'component-padding': !isSummaryView}">
  <div class="container">
<h2>Sinais Vitais</h2>
<form *ngIf="vitalSignsForm" [formGroup]="vitalSignsForm" (ngSubmit)="register()" class="mb-3">
  <div class="form-group justify-content-center mb-2">
    <input type="text" formControlName="bloodPressure" placeholder="Pressão arterial" class="form-control" [ngClass]="{'is-invalid': vitalSignsForm.get('bloodPressure')?.invalid && vitalSignsForm.get('bloodPressure')?.touched}">
    <div *ngIf="vitalSignsForm.get('bloodPressure')?.hasError('pattern')" class="invalid-feedback">
      Formato inválido. Use 000/00, 000/000 ou 00/00.
    </div>
  </div>
  <div class="form-group mb-2">
    <input type="number" formControlName="heartRate" placeholder="Frequência cardíaca" class="form-control" [ngClass]="{'is-invalid': vitalSignsForm.get('heartRate')?.invalid && vitalSignsForm.get('heartRate')?.touched}">
    <div *ngIf="vitalSignsForm.get('heartRate')?.hasError('min') || vitalSignsForm.get('heartRate')?.hasError('max')" class="invalid-feedback">
      Frequência cardíaca deve estar entre 40 e 200 batimentos por minuto.
    </div>
  </div>
  <div class="form-group mb-2">
    <input type="number" formControlName="bodyTemperature" placeholder="Temperatura corporal" class="form-control" [ngClass]="{'is-invalid': vitalSignsForm.get('bodyTemperature')?.invalid && vitalSignsForm.get('bodyTemperature')?.touched}">
    <div *ngIf="vitalSignsForm.get('bodyTemperature')?.hasError('min') || vitalSignsForm.get('bodyTemperature')?.hasError('max')" class="invalid-feedback">
      A temperatura corporal deve estar entre 34.0 e 42.0 graus Celsius.
    </div>
  </div>
  <div class="form-group mb-2">
    <input type="number" formControlName="bloodGlucose" placeholder="Níveis de glicose no Sangue" class="form-control" [ngClass]="{'is-invalid': vitalSignsForm.get('bloodGlucose')?.invalid && vitalSignsForm.get('bloodGlucose')?.touched}">
    <div *ngIf="vitalSignsForm.get('bloodGlucose')?.hasError('min') || vitalSignsForm.get('bloodGlucose')?.hasError('max')" class="invalid-feedback">
      A glicose deve estar entre 20 e 800 mg/dL.
    </div>
  </div>
  <button type="submit"  class="btn btn-personal text-white mb-2">Registrar</button>
</form>
<div class="table-responsive shadow rounded">
  <table id="vital-signs-table" class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th class="break-word small-header">Pressão arterial</th>
        <th class="break-word small-header">Frequência cardíaca</th>
        <th class="break-word small-header">Temperatura corporal</th>
        <th class="break-word small-header">Níveis de glicose</th>
        <th class="break-word small-header">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vitalSign of vitalSigns">
        <td>{{ vitalSign.bloodPressure }}</td>
        <td>{{ vitalSign.heartRate }}</td>
        <td>{{ vitalSign.bodyTemperature }}</td>
        <td>{{ vitalSign.bloodGlucose }}</td>
        <td>{{ vitalSign.timestamp | date:'dd/MM/yy HH:mm' }}</td> <!-- Exibir a data formatada -->
      </tr>
    </tbody>
  </table>
</div>
</div>
</main>