<footer class="footer mt-5 py-3 bg-personal text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4>Informações de Contato</h4>
          <p class="mb-2 text-light"><i class="fas fa-map-marker-alt"></i> Endereço: Florianopolis/SC</p>
          <p class="mb-2 text-light"><i class="fas fa-phone"></i> Telefone: (48) 991 715 395</p>
          <p class="mb-2 text-light"><i class="fas fa-envelope"></i> Email: fernando.suporte.maissaude@gmail.com</p>
        </div>
        <div class="col-md-4">
          <h4>Links Úteis</h4>
          <ul class="list-unstyled">
            <li class="mb-2">
              <a routerLink="/home" class="text-light text-decoration-none">
                <i class="fas fa-home"></i> Home
              </a>
            </li>          
            <li class="mb-2">
              <a routerLink="/lista-produtos" class="text-light text-decoration-none">
                <i class="fas fa-shopping-cart"></i> Loja
              </a>
            </li>
            <li class="mb-2">
              <a routerLink="/monitor-saude" class="text-light text-decoration-none">
                <i class="fas fa-heartbeat"></i> Monitor de Saúde
              </a>
            </li>
            <li class="mb-2">
              <a class="nav-link text-light" routerLink="/login">
                <i class="fas fa-user"></i> Login/Registro
              </a>
            </li>
            <li class="mb-2">
              <a routerLink="/sobre" class="text-light text-decoration-none">
                <i class="fas fa-info-circle"></i> Sobre
            </a>            
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center">
          <h4>Siga-nos nas Redes Sociais</h4>
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/people/Viver-Health-Plus/61553981334210/"><i class="fab fa-facebook fa-2x text-light"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/viverhealthplus/"><i class="fab fa-instagram fa-2x text-light"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin fa-2x text-light"></i></a></li>
          </ul>
          <div class="text-center"> <!-- Classe de utilidade para centralizar -->
            <img src="../../../assets/logo4.png" alt="Ícone" style="height: 120px;">
          </div>
        </div>
        

      </div>
    </div>
  </footer>
  
  