.category-card {
    min-height: 70px; // Altura definida como 100px
    width: 300px; 
    
     // Largura definida como 200px
    
    .card-body {
      padding: 0.5rem; 
      border-radius: 5px; // Reduzido o padding para acomodar o texto
    }
    
    .card-title {
      margin-bottom: 0; // Removido a margem inferior para economizar espaço
      font-size: 1.1rem; // Ajuste o tamanho da fonte conforme necessário
    }
    
    .card-footer {
      padding: 0.25rem 0.5rem;  // Reduzido o padding para acomodar o botão
    }
  }
  .category-card-body {
    background-image: url('https://avatars.mds.yandex.net/i?id=9038c11f2803c96c9e22b503724bfee34eed6c47-9238775-images-thumbs&ref=rim&n=33&w=356&h=200');
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 70px;
    color: white; /* letra branca */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .category-link {
    text-decoration: none; /* sem sublinhado */
    color: white; /* letra branca */
  }

  .category-link i {
    color: white;
  }

  .custom-width {
    width: 90%;
    margin: 0 auto;
  }
  