<section class="bg-personal py-3 mt-0 mb-3 text-white">
  <div class="container text-center">
    <h2 class="fw-bold mt-2 mb-3">Bem-vindo ao Portal Mais Saúde!</h2>
    <p class="mb-2">Valorize a sua saúde e seu bem-estar. Aqui, você tem acesso a informações confiáveis e atualizadas sobre saúde, uma seleção cuidadosa de produtos para o seu dia a dia, além de ferramentas dedicadas ao acompanhamento da sua saúde pessoal.</p>
  </div>
</section>
<div *ngIf="loading" class="spinner-overlay">
  <div class="spinner-container">
    <div class="spinner-border text-info" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>

<section class="py-5">
  <div class="container2">
    <div class="row">
      <div *ngFor="let newsItem of newsList; let i = index" [class.col-md-8]="i === 0 || i === 5" class="col-md-4 mb-4">
        <div class="card shadow-sm h-100 d-flex flex-column border-0" [style.cursor]="i === 0 ? 'default' : 'pointer'" (click)="i !== 0 && navigateToDetails(newsItem.id)">
          <img [src]="newsItem.url" alt="{{ newsItem.titulo }}" class="card-img-top news-image">
          <div class="card-body flex-grow-1 d-flex flex-column">
            <h5 class="card-title text-black mb-auto">
              {{ newsItem.titulo }}
              <!-- Exemplo de uso de badge para categoria (se necessário) -->
              <span class="badge bg-secondary"></span>
            </h5>
            <p class="card-text mb-auto">{{ newsItem.conteudo | slice:0:100 }}...</p>
            <!-- Se for o card em destaque, mostre o botão, senão use a ação no card todo -->
            <div class="mt-auto">
              <a *ngIf="i === 0" [routerLink]="['/news', newsItem.id]" class="btn btn-personal text-white">Leia mais...</a>
              <p *ngIf="i !== 0" class="btn btn-personal text-white">Leia mais...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="!authService.isAuthenticated() && showJumbotron" class="overlay" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.5); z-index: 999;">
  <div class="floating-jumbotron container my-6 p-6 text-center text-muted bg-body border border-dashed rounded-5" style="position: relative;">
    <button (click)="closeJumbotron()" class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill" aria-label="Close"></button>
    <svg class="bi mt-5 mb-3" width="48" height="48"><use xlink:href="#check2-circle"/></svg>
    <h1 class="text-body-emphasis">Registre-se e Tenha acesso: </h1>
    <p class="col-lg-6 mx-auto mb-4">
      Bem-vindo ao <strong>Portal Mais Saúde</strong>! Aqui, você tem acesso a noticias e informações confiáveis, produtos selecionados para seu bem-estar e ferramentas para monitorar sua saúde. Priorizamos sua jornada de bem-estar, oferecendo soluções para um estilo de vida saudável. <strong>Registre-se agora</strong> e descubra todas as vantagens.
  </p>
    <button class="btn btn-primary px-5 mb-5" routerLink="/register" type="button">
      Registrar
    </button>
  </div>
</div>
