<section class="bg-info py-3 mt-0 mb-3 text-white">
  <div class="container text-center">
    <h2 class="fw-bold mt-2 mb-3">Bem-vindo ao Portal Mais Saúde!</h2>
    <p class="mb-2">Valorize a sua saúde e seu bem-estar. Aqui, você tem acesso a informações confiáveis e atualizadas sobre saúde, uma seleção cuidadosa de produtos para o seu dia a dia, além de ferramentas dedicadas ao acompanhamento da sua saúde pessoal.</p>
  </div>
</section>
<section class="py-5">
  <div class="container2">
    <div class="row">
      <div *ngFor="let newsItem of newsList" class="col-md-4 mb-4">
        <div class="card" style="width: 300px;">
          <img [src]="newsItem.url" alt="{{ newsItem.titulo }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ newsItem.titulo }}</h5>
            <p class="card-text">{{ newsItem.conteudo | slice:0:100 }}...</p> <!-- Mostrando apenas os 100 primeiros caracteres do conteúdo -->
            <a [routerLink]="['/news', newsItem.id]" class="btn btn-primary">Detalhes</a> <!-- Link para os detalhes da notícia -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  
